---
---

@import "{{ site.theme }}";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&display=swap");

body {
  font-family: "Palanquin", sans-serif;
  text-align: justify;
}

// headers
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4400ff;
  font-family: "Palanquin", sans-serif;
  // border: 1px dashed #4400ff;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.site-title,
.site-title:visited {
  color: #4400ff;
  font-weight: bold;
  font-family: "Palanquin", sans-serif;
}
.site-nav .page-link {
  color: #4400ff;
  font-family: "Palanquin", sans-serif;
}

.site-header,
.site-footer {
  border: none;
}
.footer-heading {
  display: none;
}

/** Links */
a {
  color: #4400ff;
  text-decoration: none;
}

a:visited {
  color: #4400ff;
}

a:hover {
  color: #4400ff;
  text-decoration: underline;
}

.social-media-list a:hover {
  text-decoration: none;
}

.social-media-list a:hover .username {
  text-decoration: underline;
}

// lists

.post-list > li {
  margin-bottom: 50px;
  // padding-bottom: 20px;
  // border-bottom: 4px dotted aquamarine;
}

// divider
hr{
  border-top: 2px dotted #4400ff;;
  margin-top: 30px;
  margin-bottom: 30px;
}